<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>

</head>

<script id="list_info_tbpostfile" type="text/x-handlebars-template">
    {{#resultData_tbpostfile}}
    <div>
        <img height="50px" src="{{url}}" alt=""/>
        <input type="text" class="create_tbpost_img_type" value="{{type}}"/>
        <input type="text" class="create_tbpost_img_url" value="{{url}}"/>
        <button onclick="listener_remove_img(this)">삭제</button>
    </div>
    {{/resultData_tbpostfile}}
</script>
<script type="text/javascript">
    var list_info_tbpostfile = $("#list_info_tbpostfile").html();
    var list_info_tbpostfile_template = Handlebars.compile(list_info_tbpostfile);
</script>

<body>
<!--tbuserId :
<input type="text" id="create_tbpost_tbuserId" />-->
title :
<input type="text" id="create_tbpost_title" />
content :
<input type="text" id="create_tbpost_content" />

<button onclick="$('#create_tbpost_img').trigger('click')">img upload</button>
<label for="create_tbpost_img">이미지 추가.</label>
<input type="file" id="create_tbpost_img" onchange="readURLFile(this)" accept="image/*" />

<div id="div_create_tbpost_imgs">

</div>

<script>
    function listener_remove_img(obj){
        $(obj).parent().remove();
    }
</script>
<script>
    let limit_each_file_size = 10;
    function readURLFile(input) {
        let temp_id = $(input).attr("id") + "";
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function(e) {
                let temp_each_file_size = input.files[0].size / (1024 * 1024);
                if (temp_each_file_size > limit_each_file_size) {
                    alert("파일 1개 당 " + limit_each_file_size + "mb 용량 제한 초과 입니다!");
                    $(input).val("");
                    return false;
                }
                let file_type = "image";
                if (!input.files[0].type.match('image.*')) {
                    file_type = "file";
                } else {
                    file_type = "image";
                }
                //alert(input.files[0].name);
                listener_upload_file(input.files[0], file_type);
            }
        }
    }
    function listener_upload_file(obj_file, file_type) {
        let fileData = new FormData();
        fileData.append("file", obj_file);

        $.ajax({
            url: "/api/default/uploadFile",
            type: "POST",
            data: fileData ,
            cache : false,
            contentType : false,
            processData : false,
            success: (data, status, xhr)=>{
                //alert(xhr.status);
                switch(xhr.status){
                    case 201:
                        let a_list = [];
                        let each_data = {};
                        a_list.push(each_data);
                        each_data["type"] = file_type;
                        each_data["url"] = data["url"];
                        $("#div_create_tbpost_imgs").append(list_info_tbpostfile_template({"resultData_tbpostfile":a_list}));

                        break;
                    default:
                        console.log("no matching status code");
                }
            },
            error: (data)=>{
                alert("error")
            },
        });
    }
</script>


<button onclick="create_tbpost()">create</button>
<a href="/tbpost/mlist">link to list</a>

<script>
    function create_tbpost() {

        let tbuserId = localStorage.getItem("myTbuserId");
        if (tbuserId == null || tbuserId === "") {
            alert("로그인 이전입니다!!");
            return false;
        }

        let tbpostfile_type = [];
        let create_tbpost_img_types = $(".create_tbpost_img_type");
        for(let each of create_tbpost_img_types){
            tbpostfile_type.push($(each).val());
        }

        let tbpostfile_url = [];
        let create_tbpost_img_urls = $(".create_tbpost_img_url");
        for(let each of create_tbpost_img_urls){
            tbpostfile_url.push($(each).val());
        }

        $.ajax({
            url: "/api/tbpost",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                tbuserId: tbuserId
                , title: $("#create_tbpost_title").val()
                , content: $("#create_tbpost_content").val()
                , tbpostfileTypes: tbpostfile_type
                , tbpostfileUrls: tbpostfile_url
            }),
            cache: false,
            success: (data, status, xhr) => {
                alert("success!!");
                //alert(JSON.stringify(data));
            },
            error: (data, status, xhr) => {
                alert("error!!");
                alert(JSON.stringify(data));
            }
        });
    }
</script>

</body>
</html>