<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
test!!

<input type="text" id="input_title" />

<button onclick="func_test()">버튼입니다!</button>


<script>
    function func_test(){
        $.ajax({
            url: "/api/test/abc",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                title: $("#input_title").val()
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                //alert(JSON.stringify(data));
            }
        });
    }
</script>
</body>
</html>